.section-content {
    margin: 10px 35px 5px 35px;
    padding: 20px;
    max-width: 90%;
    border-top: 1px solid rgb(97, 96, 96);
    color: white;
    display: flex;
    align-items: center;
}
.about-image img{
    width: 200px;
    margin-left: 30px;
    border-radius: 50%;
}
.section-content p {
    float: left;
    letter-spacing: 0.2em;
    line-height: 1.5;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}
@media screen and (max-width: 1024px){
.section-content p {
    font-size: 0.8em;
}
.section-content {
    padding: 10px;
}
.about-image img{
    width: 250px;
    border-radius: 10%;
    background-size: 250px;
}
}
@media screen and (max-width: 700px){
.about-image img{
    width: 200px;
    margin: 10px auto 5px auto;
    border-radius: 10px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.226);
    border-top: 3px solid rgba(255, 255, 255, 0.226);
}
.section-content p {
    font-size: 0.75em;
}
.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
@media screen and (max-width: 414px){
.section-content p {
    font-size: 0.7em;
}
.section-content {
    margin: 0;
}
}