.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    min-width: 300px;
    max-width: 500px;
    width: 25vw;
}
.project-header-description {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    min-height: 400px;
    border-top: 5px dashed rgba(139, 139, 139, 0.199);
}
.project-header-description h1{
    margin-bottom: 15px;
}
.project-header-description p {
    display: inline;
    width: 85%;
}
.project-header-description a{
    display: inline;
    color: #222831;
    background-color: #ffd369;
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 0.1em;
}
.project-header-description a:active{
    background-color: #757575;
}
.project-header-description a:hover{
    background-color: #f8c348;
}
.project-image img {
    width: 200px;
    background-color: rgb(255, 255, 255);
    margin: 2px 2px 0 2px;
}
.project-image {
    position: relative;
    right: 0;
    padding: 6px;
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.596);
}
@media screen and (max-width: 700px) {
.project-image {
    margin: 20px 0;
}
.project-image img{
    width: 160px;
}
.project-header-description {
    min-height: 370px;
}
.project-header-description a {
   padding: 8px;
}
}