.header {
   width: 100%;
   padding: 40px;
   background-color: #eeeeee;
   margin-bottom: 50px;
   top:0;
   position: fixed;
}
.icons {
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px 40px 0 0;
}
.icons:hover {
    cursor: pointer;
}
.icons img {
    width: 50px;
}
.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.header-title h1 {
    display: inline;
    font-weight: 600;
}
.header-title p {
    display: inline;
    font-weight: 400;
    letter-spacing: 0.29em;
    font-size: 0.8em;
    text-decoration: overline;
    margin-top: 5px;
}
@media screen and (max-width: 700px) {
    .icons {
        margin: 10px 10px 0 0; 
    }
    .icons img {
        width: 35px;
    }
    .header {
        width: 100%;
        padding: 30px;
        background-color: #eeeeee;
        margin-bottom: 0;
     }
}