.icon-styles img {
    width: 50px;
}
.icon-styles {
    border-radius: 50%;
    padding: 6px;
    border: none;
    background-color: #eeeeee;
    outline: none;
    pointer-events: none;
}
.icon-styles:active {
    border: none;
    outline: none;
}
.icon-styles:hover {
    border: none;
    outline: none;
}
@media screen and (max-width: 700px) {
    .icon-styles img {
        width: 35px;
    }
}
