* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #222831;
}
h1 {
  font-family: 'Comfortaa', cursive;
  margin: 0;
}
p {
  font-family: 'PT Serif', serif;
  margin: 0;
}
a {
  font-family: 'Comfortaa', cursive;
  margin: 0;
}